/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/qUtilities.pc
/missing
/debian/tmp
/debian/metlibs-qutilities-dev.debhelper.log
/debian/metlibs-qutilities-dev.substvars
/debian/metlibs-qutilities-dev
/debian/metlibs-translations.debhelper.log
/debian/metlibs-translations.substvars
/debian/metlibs-translations
/debian/files
/src/config.h
/src/stamp-h1
/lang/qUtilities*.qm
/src/*.moc.cc
/m4/libtool.m4
/m4/lt*.m4
/compile
