Source: metlibs-common-qutilities
Priority: optional
Maintainer: Borge Moe <borge.moe@met.no>
Build-Depends:  debhelper (>= 7), autotools-dev, g++,
  autoconf (>=2.61), automake (>= 1.10), libtool (>= 1.5),
  libboost-dev, libqt4-dev, pkg-config
Standards-Version: 3.7.3
Section: libs

Package: metlibs-qutilities-dev
Section: libdevel
Architecture: any
Depends:libboost-dev, libqt4-dev, ${misc:Depends}
Description: qUtilities.
 metlibs qUtilities.
