Source: metlibs-qt-qutilities
Priority: optional
Maintainer: Alexander Bürger <diana@met.no>
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 metlibs-milogger-dev (>= 6.0.0),
 libboost-dev,
 qtbase5-dev, qtbase5-dev-tools, qttools5-dev-tools, qttools5-dev
Standards-Version: 3.9.2
Section: libs

Package: metlibs-qutilities-qt5-dev
Section: libdevel
Breaks: metlibs-qutilities-dev (<< 8.0.0)
Replaces: metlibs-qutilities-dev (<< 8.0.0)
Architecture: any
Depends: qtbase5-dev,
 metlibs-milogger-dev (>= 6.0.0),
 libmetlibs-qutilities-qt5-8 (= ${binary:Version}),
 ${misc:Depends}
Description: MET Norway Qt utilities
 MET Norway utilities classes for Qt programs.
 .
 This package contains the development files.

Package: libmetlibs-qutilities-qt5-8
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: MET Norway Qt utilities shared library
 MET Norway utilities classes for Qt programs.
 .
 This package contains the shared library.

Package: libmetlibs-qutilities-qt5-8-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libmetlibs-qutilities-qt5-8 (= ${binary:Version})
Description: MET Norway Qt utilities shared library
 MET Norway utilities classes for Qt programs.
 .
 This package contains the shared library debug symbols.

Package: metlibs-qutilities-qt5-translations
Section: libs
Breaks: metlibs-translations (<< 8.0.0)
Replaces: metlibs-translations (<< 8.0.0)
Architecture: all
Description: MET Norway Qt utilities translations
 MET Norway utilities classes for Qt programs.
 .
 This package contains the translation files, at present for nb, sv
 and de.
