#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

DH_COMMAND = dh

%:
	$(DH_COMMAND) $@ --parallel

override_dh_auto_configure:
	./autogen.sh
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr \
	            --disable-silent-rules \
	            --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	            --includedir=\$${prefix}/include/metlibs --disable-shared \
	            CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"
